---
layout: default
---

<div class="publications">
  <h1 class="publications-title">Publications</h1>

  {% for publication in site.publications %}
  <div class="publication-item">
    <h2 class="publication-title">{{ publication.title }}</h2>
    <div class="publication-authors">
      {% for author in publication.authors %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        {{ author.name }}
      </span>
      {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
    <div class="publication-meta">
      <time datetime="{{ publication.date | date_to_xmlschema }}" itemprop="datePublished">{{ publication.date | date: "%B %d, %Y" }}</time>
      {% if publication.journal %}
      <span> | </span>
      <span class="publication-journal">{{ publication.journal }}</span>
      {% endif %}
    </div>
    <div class="publication-summary">
      {{ publication.content | markdownify | strip_html | truncatewords: 50 }}
    </div>
    {% if publication.link %}
    <div class="publication-link">
      <a href="{{ publication.link }}">[Link]</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>